<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Osky_Fatzebra>
            <version>0.1.2</version>
        </Osky_Fatzebra>
    </modules>
    <global>
        <models>
            <fatzebra>
                <class>Osky_Fatzebra_Model</class>
            </fatzebra>
        </models>
        <helpers>
            <fatzebra>
                <class>Osky_Fatzebra_Helper</class>
            </fatzebra>
        </helpers>
        <blocks>
            <fatzebra><class>Osky_Fatzebra_Block</class></fatzebra>
        </blocks>
        <resources>
            <fatzebra_setup>
                <setup>
                    <module>Osky_Fatzebra</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fatzebra_setup>
            <fatzebra_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fatzebra_write>
            <fatzebra_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fatzebra_read>
        </resources>
    </global>
	<default>
        <payment>
            <fatzebra>
                <active>0</active>
                <model>fatzebra/payment</model>
                <order_status>pending</order_status>
                <title>Fat Zebra</title>
                <username>TEST</username>
                <token>TEST</token>
                <cctypes>AE,VI,MC,JCB</cctypes>
                <show_logo>1</show_logo>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </fatzebra>
        </payment>
    </default>
</config>
